body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9bbbb;
  overflow: hidden;
  position: relative;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
  z-index: 0;
}

.hover-text,
.hover-text p {
  font-size: 24px;
  color: #333;
  z-index: 1;
  transition: color 0.2s ease-in-out;
  padding: 20px;
  position: relative;
}

.hover-text:hover,
.hover-text p:hover {
  color: white;
}

.hovered {
  transform: scale(2) translate(-50%, -50%);
}
